body {
  background:rgb(157, 195, 233);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
}

#title {
  color: white;
  text-align:center;
  background: slategrey;
  text-shadow: black 2px 2px 2px;
}

#local{
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: rgb(48, 74, 88);
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 2em;
}

#city_location {
  font-size: 2em;
  text-shadow: 2px 2px 2px black;
  color: white;
}

#conditions {
  display: flex;
  align-content: center;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px black;
  color: white;
}

#temps {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px black;
  color: white;
}

#weather-image img {
  width: 4em;
  height: auto;
}

button {
  margin-left: 1em;
  font-size: 0.4em;
  border-radius: 1em;
  text-align: center;
  margin-bottom: 2em;
}

#footer{
  padding-bottom: 1em;
  text-align:center;
  color: white;
  text-shadow: 2px 2px 2px black;
}
